.hacker {
    font-family: 'Share Tech', sans-serif;
}

.header img {
    float: left;
    width: 100px;
    height: 100px;
    background: #555;
  }
  
  .header h1 {
    position: relative;
    top: 30px;
    left: 20px;
  }
  
.text-container {
    max-width: 600px;
    margin-top: 5%;
    margin-left: 5%;
    
}

.text-container h1 {
    font-size: 32px;
    font-weight: 400;
}

.center {
    margin: 0 auto;
    display: block;
}

a:link, a:visited,  a:hover, a:active
{
    text-decoration: none;
}

body {
	background: #fafafa url(https://jackrugile.com/images/misc/noise-diagonal.png);
	color: #444;
	font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
	text-shadow: 0 1px 0 #fff;
}

strong {
	font-weight: bold; 
}

em {
	font-style: italic; 
}

table {
	background: #f5f5f5;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 15px;
	line-height: 60px;
	margin: 30px auto;
	text-align: left;
	width: 1000px;
    table-layout: fixed;
}	

th {
	background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
	/* background: #C1E1C1; */
    box-shadow: inset 0 1px 0 #999;
	color: #fff;
  font-weight: bold;
	padding: 10px 15px;

	position: relative;
	text-shadow: 0 1px 0 #000;	
}

th:after {
	/* background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08)); */
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

th:first-child {
	box-shadow: inset 1px 1px 0 #999;
    padding-left: 10px;
    width: 65px;
}

th:nth-child(2) {
    width: 75px;
}

th:nth-child(3) {
    width: 140px;
}

th:nth-child(4) {
    width: 110px;
}

th:nth-child(6) {
    width: 300px;
}

th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

td {
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}

td:first-child {
	box-shadow: inset 1px 0 0 #fff;
    padding-left: 10px;
}	

td:last-child {
	box-shadow: inset -1px 0 0 #fff;
}	

tr {
	background: url(https://jackrugile.com/images/misc/noise-diagonal.png);	
}

tr:nth-child(odd) td {
	background: #f1f1f1 url(https://jackrugile.com/images/misc/noise-diagonal.png);	
}

tr:nth-child(5) td {
    background: rgba(255, 0, 0, .1);
}

tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	

tbody:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}


#searchbar{
    padding:15px;
    border-radius: 10px;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}